button {
  padding: .5em 1.2em;
  font-size: 1em;
  background-color: #5a93d4;
  color: white;
  text-shadow: 1px 1px solid #333;
  border: none;
  border-radius: .2em;
  display: block;
  cursor: pointer;
}
#home {
  text-align: center;
}
#home button {
  margin: 0 auto;
}
#question {
  position: relative;
  min-height: 100px;
}

.answer {
  display: inline-block;
  margin: 0 auto .3em auto;
  width: 35px;
  height: 35px;
  line-height: 2rem;
  text-align: center;
  background-color: lightblue;
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  color: white;
}

#legend {
  display: flex;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
}
#legend li {
  list-style: none;
  width: 20%;
  padding: 0 .5rem;
  text-align: center;
}
#legend li span {
  display: block;
}

#question p {
  font-family: inherit;
  display: inline-block;
  width: calc(100% - 240px);
  font-weight: normal;
  font-size: 1.25em;
  padding-right: 1em;
  margin: 0;
}

#answers {
  display: inline-block;
  width: 235px;
  vertical-align: top;
  margin-top: 12px;
}
#answers input[type=radio] {
  display: none;
}

#answers label {
}
#answers label {
  transition: background-color .5s;
  cursor: pointer;
  margin-left: .3rem;
}
#answers label:nth-of-type(1),
#legend li:nth-of-type(1) span {
  background-color: #9df;
}
#answers label:nth-of-type(2),
#legend li:nth-of-type(2) span {
  background-color: #8ce;
}
#answers label:nth-of-type(3),
#legend li:nth-of-type(3) span {
  background-color: #7bd;
}
#answers label:nth-of-type(4),
#legend li:nth-of-type(4) span {
  background-color: #6ac;
}
#answers label:nth-of-type(5),
#legend li:nth-of-type(5) span {
  background-color: #59b;
}
#answers label:last-child {
  margin-right: 0;
}
#answers label:hover {
  background-color: #4b5;
}
#counter {
  position: absolute;
  top: 70px;
  right: 10px;
  font-size: .9em;
  text-align: right;
  font-style: italic;
}
.incomplete button {
  display: none;
}
